<!DOCTYPE html>
<html>

<!-- Basic Page Info -->
<head>
<title>ClassTrek</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/classtrek.css" rel="stylesheet">

<!-- JavaScript -->
<script src="/js/map.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1uC3vKjz93ui5Qr_l4XPNG9dxJrhSVs&libraries=places"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1uC3vKjz93ui5Qr_l4XPNG9dxJrhSVs&libraries=places"></script>

</head>

<body id="background">
<div class="outer">
  <div class="inner">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
 
<!-- Footer Nav -->
<footer>
<div class="row">
	<div class="col-xs-3">
		<a href=""><span class="glyphicon glyphicon-list"></span></a>
	</div>
	<div class="col-xs-3">
		<a href=""><span class="glyphicon glyphicon-home"></span></a>
	</div>
	<div class="col-xs-3">
		<a href=""><span class="glyphicon glyphicon-search"></span></a>
	</div>
</div>
</footer>


  </div>
</div>




    <!-- Google Maps Script async -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1uC3vKjz93ui5Qr_l4XPNG9dxJrhSVs&callback=initMap">
    </script>



</body>
</html>
