<!DOCTYPE html>
<html ng-app = "UCSDTrek">

  <head>
    <title>UCSDTrekker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/classtrek.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="/js/map.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/UCSDTrek.js"></script>
  </head>


  <body id="background" ng-controller = "mainController">
    <div class="outer">

        <!-- Logo Image -->
        <div class = "logo">
        <img src="../images/betaIcon.png" width= 50% height= 80px/>
        </div>

        <div id="map"></div>
        <!-- Search Box -->


        <div class = "col-md-5">
            <button ng-click = "addClass()">Add Classes</button>
            <button id = "submit"> Submit </button>
          </div>

        <div class = "row">
            &nbsp
          <div class = "col-md-7"></div>

          

            <div ng-repeat= "course in courses">
              <form class="courseForm">
                <label>Course:<input type="text" class = "courseNames"/></label><br/>
                <label>Hall/Building:<input type="text" class = "waypoints" /></label><br/>
                <label>Room Number:<input type="text" class = "roomNums"/></label><br/>
                <input type="button" ng-click="update(user)" value="Add"/>
                <button ng-click = "removeCourse($event)"> Cancel </button>
              </form>
            </div>

          </div>

    </div>

  </body>

        <!-- Footer Nav -->
        <footer>
          <div class="row">
    	       <div class="col-xs-3">
    		         <a href="/schedule"><span class="glyphicon glyphicon-list"></span></a>
    	       </div>

            <div class="col-xs-3">
    		         <a href=""><span class="glyphicon glyphicon-home focusme"></span></a>
    	      </div>

            <div class="col-xs-3">
    		         <a href="/explore"><span class="glyphicon glyphicon-search"></span></a>
    	      </div>
         </div>
       </footer>



    <!-- Google Maps Script async -->
     <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1uC3vKjz93ui5Qr_l4XPNG9dxJrhSVs&libraries=places&callback=initMap">
     </script>

</html>
