<!DOCTYPE html>
<html ng-app = "UCSDTrek">

  <head>
    <title>UCSDTrekker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/classtrek.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/js/map.js"></script>
   </head>

  <body id="background" ng-controller = "mainController">

    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
        <a class="navbar-brand" href="">
          <img id = "logo" alt="Brand" src= "../images/logo.svg">
        </a>
      </div>
     </div>
    </nav>

    <div class = "row">

      <!--Right side: Map-->
      <div class = "col-md-6">
        <div class = "iframe-container">
          <div id="map"></div>
        </div>
      </div>

      <!--Left side of screen-->
      <div class = "col-md-6" style="overflow-y: scroll; height:600px;">
        <!--Trek It Button -->
        <button class = "btn form-control" id= "submit"> Trek It </button>

          <!--Repeating course form-->
          <ul ui-sortable ng-model = "courses">
            <li ng-repeat= "course in courses" class = "courseForm">
              <div class = "row">

                <!--Course order number-->
                <div class = "col-md-4" ng-bind: "numbers">
                  <h1>{[{$index+1}]}</h1>
                </div>

                <!--inputs-->
                <div class = "col-md-4">
                  <label id = "input"> Course </label>
                  <input type="text" placeholder = "COGS 121" class = "courseNames"/>
                  <br/>
                  <label>Hall/Building</label>
                  <input type="text" placeholder = "Peterson Hall" class = "waypoints"/>
                  <br/>
                  <label>Room Number</label>
                  <input type="text" placeholder = "121" class = "roomNums"/>
                  <br/>
                </div>

                <!--Remove button-->
                <div class = "col-md-4">
                  <div class = "pull-right">
                    <button id = "removeBtn" class = "btn" type = "button" ng-click = "removeCourse(courses, $index)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>

              </div>
            </li>
          </ul>


          <!--Add Button-->
          <div class = "row">
            <div class = "col-md-4 col-md-offset-4 text-center">
              <button id = "addBtn" class = "btn" ng-click = "addClass()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>

        </div>

        <!--Nav Bar -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/schedule">
                  <span class="glyphicon glyphicon-list tab"></span>
                </a>

                <a class="navbar-brand" href="">
                  <span class="glyphicon glyphicon-home focusme"></span>
                </a>

                <a class="navbar-brand" href="/explore">
                  <span class="glyphicon glyphicon-search tab"></span>
                </a>
            </div>
          </div>
        </nav>

      </div>


    <!-- Google Maps Script async -->
     <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1uC3vKjz93ui5Qr_l4XPNG9dxJrhSVs&libraries=places&callback=initMap">
     </script>

     <!-- JavaScript -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
     <script src="/js/UCSDTrek.js"></script>

  </body>
</html>
