<!DOCTYPE html>
<html>
<!-- Basic Page Info -->
  <head>
    <title>UCSDTrekker &mdash; Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/classtrek.css" rel="stylesheet">
    <link rel='stylesheet' href='/js/fullCalendar/fullcalendar.min.css'/>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src='/js/fullCalendar/moment.js'></script>
    <script src='/js/fullCalendar/fullcalendar.min.js'></script>
    <script src = "js/fullCalendar/calendar.js"></script>

  </head>

  <body id="background">

    <div id = "calendar"></div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
     <div class="container-fluid">
       <div class="navbar-header">
        <a class="navbar-brand" href="">
          <img id = "logo" alt="Brand" src= "../images/logo.svg">
        </a>
      </div>
     </div>
     </nav>





     <!--Nav Bar -->
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
              <span class="glyphicon glyphicon-list focusme"></span>
            </a>

            <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon-home tab"></span>
            </a>

            <a class="navbar-brand" href="/explore">
              <span class="glyphicon glyphicon-search tab"></span>
            </a>
        </div>
      </div>
      </nav>

    <div id='calendar'></div>


  </body>
</html>
