<!DOCTYPE html>
<html>
<!-- Basic Page Info -->
<head>
<title>ClassTrek &mdash Schedule</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/classtrek.css" rel="stylesheet">

<!-- JavaScript -->
</head>

<body id="background">
    <div class="outer">
        <div class="inner">
            <!-- Logo Image -->
            <img src="../images/betaIcon.png"/>




            <div id = "outList" class = "top">
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
                <div id = "inList" ng-app="classList" ng-controller="listCtrl">
                    <h2>Add Classes</h2>
                    <form ng-submit="classAdd()">
                        <input id = "addIn" type="text" ng-model="classInput" size="50" placeholder="Class - Location">
                        <input id = "subIn" type="submit" value="Add New">
                    </form>

                    <div ng-repeat="class in cList">
                        <input type="checkbox" ng-model="class.done"> <span ng-bind="class.classText"></span>
                    </div>
                    <p><button ng-click="remove()">Remove Class</button></p>
                    <script>

                    var app = angular.module('classList', []); 
                    app.controller('listCtrl', function($scope) {
                        $scope.classAdd = function() {
                            $scope.cList.push({classText:$scope.classInput, done:false});
                            $scope.classInput = "";
                        };
                        $scope.remove = function() {
                            var oldList = $scope.cList;
                            $scope.cList = [];
                            angular.forEach(oldList, function(x) {
                                if (!x.done) $scope.cList.push(x);
                            });
                        };
                    });
                    </script>
                </div>
            </div>
<!--
            <div id = "title" class = "top">
                <h2>Add Classes To Schedule</h2>
                <input type="text" id="classInput" placeholder="Class - Location">
                <span onclick="addElement()" class="addButton">Add</span>
                <ul id="samples">
                </ul>
                <header>
                <h1 id = "Add">Add Class</h1>
                </header>
                <input id="add" class="controls" type="text">
                <button type="submit">Add</button> 
            </div> 
-->


            <!-- Footer Nav -->
            <footer>
                <div class="row">
                    <div class="col-xs-3">
                        <a href=""><span class="glyphicon glyphicon-list focusme"></span></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="/"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="/explore"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </div>
            </footer>
        </div>


    </div>
</body>

</html>
