<!DOCTYPE html>
<html>

<!-- Basic Page Info -->
<head>
<title>ClassTrek &mdash Schedule</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/classtrek.css" rel="stylesheet">

<!-- JavaScript -->

</head>

<body id="background">
<div class="outer">
  <div class="inner">
<!-- Logo Image -->
    <img src="../images/betaIcon.png"/>

<!-- Footer Nav -->
<footer>
<div class="row">
	<div class="col-xs-3">
		<a href=""><span class="glyphicon glyphicon-list focusme"></span></a>
	</div>
	<div class="col-xs-3">
		<a href="/"><span class="glyphicon glyphicon-home"></span></a>
	</div>
	<div class="col-xs-3">
		<a href="/explore"><span class="glyphicon glyphicon-search"></span></a>
	</div>
</div>
</footer>


  </div>
</div>





</body>
</html>
