/* ========= CENTER TO MOBILE SIZE ======== */
#background {
  background-color: #d7d7d7;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.logo {
  text-align: center;
}
.inner {
  max-width: 414px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}

/* ================= MAP STYLE =================*/
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 300px;
  width: 685px;
  border-top: 2px solid #43a4ca;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.col-md-7{
  padding-left: 350px;
}

.col-md-5 button{
  float: left;
  display: block;
  margin: 10px 0px 15px 0px;
  color: #43a4ca;
  font-size: 15px;
  border: 1px solid #43a4ca;
  background-color: #fff;
  text-align: center;
}

/*Class Form*/
.courseForm {
  /*float: left;*/
  background-color: #fff;
  border: 2px solid #43a4ca;
  /*padding: 10px;
  margin: 10px;*/
  margin: 0 auto;
  display: block;
  width: 685px;
  color: #43a4ca;
  text-align: center;
  font-size: 15px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
 	height: 95%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}
#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}
#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
/* ================= FOOTER-NAV =================*/
footer {
    position: fixed;
    width: 414px;
    height: 10%;
    background-color: white;
    bottom: 0%;
    margin: 0 auto;
    border-top: #999 2px solid;
}
footer .col-xs-3 {
    display: block;
    text-align: center;
    width: 33%;
}
footer .glyphicon-list {
    float: left;
    margin: auto;
    font-size: 2.5em;
    padding-left: 30px;
    padding-top: 25px;
}
footer .glyphicon-home {
    margin: auto;
    font-size: 2.5em;
    padding-left: 0px;
    padding-top: 25px;
}
footer .glyphicon-search {
    float: right;
    margin: auto;
    font-size: 2.5em;
    padding-right: 60px;
    padding-top: 25px;
}
footer .col-xs-3 a {
    text-decoration: none;
    color: #999;
}
footer .focusme {
  color: black !important;
  /*text-decoration: underline !important;*/
}


/*--------------Schedule---------------*/

#outList {
  height: 90%;
  border-top: 2px solid #43a4ca;
}
.top {
    background-color: #fff;
}

.top h2{
    text-align: center;
    color: #43a4ca;
    padding-top: 5px;
    padding-bottom: 10px;
}
#addIn {
  display: block;
  margin: 0 auto;
  height: 45px;
  width: 350px;
  font-size: 18px;
  color: #999;
  text-align: center;
  border: 1.5px solid #999;
}
#addIn::placeholder {
  color: #d3d3d3 !important;
}
#subIn {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 350px;
  font-size: 15px;
  color: #43a4ca;
  margin-bottom: 10px;
  border: 1px solid #43a4ca;
  background-color: #fff;
}
input:focus {
  outline: none;
}
#outList button {
  display: block;
  margin: 5px auto;
  width: 350px;
  color: #43a4ca;
  font-size: 15px;
  border: 1px solid #43a4ca;
  background-color: #fff;
}
#outList button:focus {
  outline: none;
}
#outList #classList {
  display: block;
  margin: 5px auto;
  width: 300px;
  text-align: left;
  font-size: 25px;
  color: #43a4ca;
}
#input .regular-checkbox {
  background-color: #fff !important;
  border: 2px solid #43a4ca !important;
  box-shadow: 0;
}

/*========== Explore Page ==============*/
.well {
  background-color: #fff !important;
  background-image: none !important;
  border-top: 1.5px solid #43a4ca;
}
.well-lg {
  border-radius: 0px;
}
#explore-content {
  padding-bottom: 18%;
}
#explore-content h3 {
  color: #43a4ca !important:
}
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
